#transaction-history{
    .MuiDataGrid-virtualScrollerRenderZone{
        gap:0.5rem;
        .MuiDataGrid-row{
            [aria-colindex="1"]{
                padding-left: 0;
                .MuiDataGrid-cellContent{
                    padding-left: 2rem;
                }
            }
            [aria-colindex="1"] {
                span.val{
                    padding-left: 2rem;
                }
                div.status.error::before{
                    content: ' ';
                    width: 3px;
                    height: 60%;
                    border-radius: 12px;
                    background-color: #FD504F;
                    display: list-item;
                }
                div.status.success::before{
                    content: ' ';
                    width: 3px;
                    height: 60%;
                    border-radius: 12px;
                    background-color: #37C976;
                    display: list-item;
                }
            }
        }
    }
}